menu {
    position: relative;
    overflow: hidden;
    background-color: lightslategrey;
    color: whitesmoke;
    top: 0;
}

a {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: blue;
    color: white;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    text-align: center;
    color: white;
}